# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\parachute\shikaBookCity\shika-book-city\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
